---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

figure.post-image {
    margin: 20px 0;
    text-align: center;
}

figure.post-image img {
    max-height: 400px;
    width: auto;
}

figure.post-image figcaption {
    font-size: 0.9em;
    color: #666;
}

.post-info {
    display: flex;
    justify-content: space-between; /* Aligns items to left and right */
    align-items: center; /* Aligns items vertically centered */
}