---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

/** Image caption **/
.img_cap {
    display: block;
    margin-top: 8px;
    font-style: italic;
    color: #555; /* You can change this color to suit your design */
    font-size: 14px; /* You can adjust the font size as needed */
    text-align: center; /* Center align the description */
  }