---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

figure.post-image {
    margin: 20px 0;
    text-align: center;
}

figure.post-image img {
    max-width: 100%;
    height: auto;
}

figure.post-image figcaption {
    font-size: 0.9em;
    color: #666;
}